.SearchBarContainer {
    margin-top: 100px;
    margin-bottom: 50px;
}

.search-bar {
    font-size: 2rem;
}

.search-icon {
    font-size: 2rem;
    width: 15%;
}

.SearchButtonsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.search-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    width: 12rem;
    color: black;
    border-color: black;
}

.search-btn-icon {
    font-size: 2rem;
}