    .HeaderContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    .header-title {
        font-weight: bold;
    }
    
    .twitter {
        color: #1DA1F2;
    }
    
    .twitter-link {
        color: #1DA1F2;
        text-decoration: none;
    }